.preview_mlp {
    background: url(./images/video_preview/mlp_pr.jpg);
}

.preview_merlin {
    background: url(./images/video_preview/merlin_pr.png);
}

.preview_harry {
    background: url(./images/video_preview/harry_pr.png);
}

.preview_brbad {
    background: url(./images/video_preview/brbad_pr.png);
}

.preview_br2_11 {
    background: url(./images/video_preview/br_2_11.png);
}

.preview_911 {
    background: url(./images/video_preview/911.jpg);
}

.video_item {
    position: relative;
    
}

.video_item p {
    color: rgb(245, 245, 245);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;

    height: 43px;
    overflow: hidden;
    z-index: 1;
}

.video_item .play_button {
    position: absolute;
    left: 251px;
    top: 101px;
    width: 24px;
    height: 30px;
    z-index: 0;
}