@media screen and (max-width: 748px) {
    /* Шапка */
  header {
    padding: 5px;
    height: 25vh;
  }

  header nav {
    border-radius: 8px;
    background-size: 100%;
  }

  header nav ul {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
  }

  header nav li {
    background-color: rgb(246, 244, 242);
    border-radius: 12px;
    margin: 7px;
    padding: 3px 7px;
    width: 300px;
    text-align: center;

  }

  header nav li:first-child {
    padding: 20px 0;
    height: 45px;
    margin-top: 0;
  }

  header nav img {
    width: 6.3vh;
    border-radius: 14px;
    margin-left: -10vw;
  }

  /* Фото */

  .photoContainer img { 
    width: 45vw;
    object-fit: cover;
  }

  .photoContainer div {
    width: 92vw;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  /* Видео */

  .videoContainer ul {
    flex-direction: column;
    align-items: center;
    width: 92vw;
  }

  .videoContainer li {
    padding: 11px;
    width: 76vw;
    height: 38vw;
  }

  .video_item .play_button {
    width: 28px;
    height: 36px;
    left: 64vw;
    top: 127px;
  }

  .playlistContainer {
    flex-direction: column;
    padding-bottom: 6vh;
  }

  .playlistItem {
    width: 88vw;
    height: 80vh;
  }

  .playlistItem:first-child {
    margin-bottom: 5vh;
  }

  .footer nav {
    height: 10vh;
  }

}