@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* скрол бар */

body::-webkit-scrollbar {
    width: 18px;
    background-color: rgb(192, 175, 165);
}

body::-webkit-scrollbar-thumb {
    /* background-color: rgb(185, 158, 113); */
    /* border-radius: 8px; */
    /* border: 6px solid #d8ccaf; */
    border: 3px solid #efefef;
}

/* общие стили */

h1 {
    margin: 30px 0 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: rgb(253, 253, 253);
}

.photoContainer, .videoContainer, .musicContainer{
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: rgb(64, 28, 11);
}

/* Шапка */

header {
    padding: 10px 15px;
    background-color: rgb(220, 205, 196);
    height: 20vh;
}

header nav {
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    background-image: url(./assets/headerBackground.jpeg);
    background-position: center;
    background-size: 44%;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
}

header nav ul {
    display: flex;
    height: 80px;
    align-items: center;
    gap: 30px;
    /* border: 3px rgb(246, 244, 242) solid; */
    /* border-radius: 16px; */
}

header nav li {
    text-decoration: none;
    list-style-type: none;
    padding: 12px 40px;
    border: 3px rgb(246, 244, 242) solid;
    border-radius: 16px;
    transition: 0.1s;
    background-color: rgba(1, 1, 1, );
}

header nav li:hover {
    background-color: rgb(246, 244, 242);
    cursor: pointer;
    transition: 0.1s;
    transform: scale(105%);
}

header nav li a {
    color: rgb(246, 244, 242);
}

header nav li:hover a {
    color: rgb(67, 28, 7);
}

header nav li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header nav img {
    width: 64px;
    border: 3px solid #866a5a;
    border-radius: 20px;
}

main {
    margin: auto;
}

/* Раздел с фото */

.photoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #f2fcff;
    background: linear-gradient(0deg, rgb(188, 171, 161) 0%, rgb(220, 205, 196) 100%);
}

.photoContainer img {
    /* width: 590px; */
    width: 30vw;
    border-radius: 4px;
}

.photoContainer div {
    display: grid;
    width: 90vw;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Раздел с видео */

.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgb(177, 153, 138) 0%, rgb(188, 171, 161) 100%);
    width: 100%;
}

.videoContainer ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    justify-items: center;
    gap: 7px;
}

/* Другое отображение для ноутбучной версии */
@media screen and (min-width: 751px) and (max-width: 1920px) {
    .videoContainer ul {
        grid-template-columns: repeat(4, 1fr);
    }
}

.videoContainer li {
    transition: 0.2s;
    background-color: #9966CC;
    background-size: 100%;
    background-position: top center;
    filter: contrast(85%);
    
    box-shadow: inset 0 3em 2em rgba(0, 0, 0, 0.7);
    list-style-type: none;

    border-radius: 5% 10% 10% 15%;
    width: 300px;
    height: 150px;
    padding: 5px;
}

.videoContainer li:hover {
    transform: scale(101%);
    cursor: pointer;
    filter: contrast(90%);
    border-radius: 3% 7% 7% 11%;
}

.videoContainer a {
    text-decoration: none;
}

/* Раздел с музыкой */

.musicContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(0deg, rgb(223, 189, 153) 0%, rgb(177, 153, 138) 100%);
}

.playlistContainer {
    display: flex;
    gap: 10vw;
    padding-bottom: 100px;
}

.playlistContainer h2 {
    background: linear-gradient(0deg, rgb(176, 123, 108) 0%, rgb(219, 143, 123) 100%);
    font-family: "Montserrat", sans-serif;
    color: rgb(250, 250, 250);
    padding: 10px 0 2px 10px;
    border-radius: 12px 12px 0 0;
    font-size: 20px;
}

.playlistItem {
    width: 35vw;
    height: 21vw;
}

.playlistItem iframe {
    width: 100%;
    height: 100%;
    border-radius: 0 0 12px 12px;
    margin-right: -20px;
}

footer {
    padding: 5px 15px;
    background-color: rgb(223, 189, 153);
}

footer nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    height: 8vh;
    background: #DDAA8C;
    background: radial-gradient(circle, rgb(202, 153, 125) 20%, rgb(186, 146, 117) 100%);
    background-size: 100%;
    background-position: center;
    border-radius: 12px;
}

footer span {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}